body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.2rem;
  margin:  3%;
  color: #FEF2BF;
}

.container {
  display: grid;
  grid-template:auto auto / auto auto ;

}

.row{
  grid-column: span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  margin: 20px;
  height: 180px;
  width: 180px;
  border-radius: 50%;
  border: 8px solid black;
}

.btn div{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

@media (max-width: 550px){
  .container{
    grid-template:auto auto / 2fr 2fr;
  }

  .btn{
    margin: 10px;
    height: 120px;
    width: 120px;
    border: 5px solid black;
  }

  #level-title{
    font-size: 1.2rem;
  }

  .one{
    margin-top: 20px;
  }
}
